<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226267370011-om50o9go3upmhs0hmejo0o29e85hb8hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226267370011-om50o9go3upmhs0hmejo0o29e85hb8hk</string>
	<key>API_KEY</key>
	<string>AIzaSyB08YLmF9E1hjz4eojmfOujQdvY5-Xn5Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>226267370011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtuetechnolabs.chatdemo</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-ff7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-ff7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226267370011:ios:dd67587a9c1536297adebe</string>
</dict>
</plist>